<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Form</title>
</head>

<body>
    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <form action="/update" method="POST">
            <input class="form-control mb-3" type="text" name="name" placeholder="name" value="<%= user.name %>">
            <input class="form-control mb-3" type="text" name="id" value="<%= user.id %>" hidden>

            <input class="form-control mb-3" type="text" name="address" placeholder="address"
                value="<%= user.address %>">
            <button class="btn btn-primary block" type="submit">Update User</button>
        </form>
    </div>
</body>

</html>